.react-calendar-heatmap .color-scale-0 {
    fill: #f0f1e8;
}
.react-calendar-heatmap .color-scale-1 {
    fill: #d6e685;
}

.react-calendar-heatmap .color-scale-2 {
    fill: #8cc665;
}

.react-calendar-heatmap .color-scale-3 {
    fill: #44a340;
}

.react-calendar-heatmap .color-scale-4 {
    fill: #1e6823;
}

.react-calendar-heatmap .color-scale-5 {
    fill: #1a5a1e;
}

.react-calendar-heatmap .color-scale-6 {
    fill: #184e1c;
}

.react-calendar-heatmap .color-scale-7 {
    fill: #184e1c;
}

.react-calendar-heatmap .color-scale-8 {
    fill: #144417;
}

.react-calendar-heatmap .color-scale-9 {
    fill: #123a15;
}

.react-calendar-heatmap .color-scale-10 {
    fill: #113814;
}

.react-calendar-heatmap .color-scale-11 {
    fill: #0a200c;
}

.react-calendar-heatmap .color-scale-12 {
    fill: #062208;
}